/* Navbarı sol tarafta yer alacak şekilde düzenle ve pastel bir mavi renk kullan */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #add8e6;
    /* Köşeleri yumuşat */
    border-radius: 10px;
  }
  
  /* Navbar içerisindeki seçeneklerin font rengini siyah yap ve sans-serif yazı tipi kullan */
  nav ul li a {
    display: block;
    color: black;
    font-family: sans-serif;
    padding: 10px;
    /* Noktaları kaldır */
    list-style: none;
    text-decoration: none;
    /* Seçenekleri çizgi ile ayır */
    border-top: 1px solid #d3d3d3;
    /* Seçeneklerin üzerine fare ile gelindiğinde belirgin bir hal almalarını sağla */
    transition: background-color 0.5s;
  }
  
  nav ul li a:hover {
    background-color: #d3d3d3;
  }
  
  /* Sayfanın arka plan rengini hafif pudra yap */
  body {
    margin-left: 150px;
    background-color: #f5f5dc;
  }