body {
  background-color: #add8e6;
}
  select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

label, input {
  display: inline-block;
  text-align: left;
  margin: 10px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #dddddd;
}

h1 {
  text-align: center;
}

th, td {
  border: 1px solid #ffffff;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

button {
  background-color: #4CAF50;
  border-radius: 10px;
  color: white;
  padding: 2px 8px;
}

button:hover {
  background-color: green;
}