body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logoutBtn {
  background-color: #E74D4D !important;
  color: white;
  border: none;
}

#logoutBtn:hover {
  background-color: #F98935 !important;
}

.item:hover {
  color: #F98935 !important;
}

.item {
  color: #E74D4D !important;
}

#addBtn {
  background-color: #E74D4D !important;
  color: white;
  border: none;
}

#addBtn:hover {
  background-color: #F98935 !important;
  color: white;
}

.loginBtn {
  background-color: #E74D4D !important;
  color: white;
  border: none !important;
}

.loginBtn:hover {
  background-color: #F98935 !important;
  color: white;
}